body {
    background-color: slateblue;
    margin: 0;

}

.first_section {
    background-color: skyblue;


}

.bar {
    background-color: lime;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.logo {
    padding-left: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-right: 150px;
}


.second_section {
    background-color: lightgreen;
}

.third_section {
    background-color: lightgrey;
}

.fourth_section {
    background-color: lightpink;
}

footer {
    background-color: lightyellow;
    display: flex;
    padding: 50px;
    justify-content: center;
}