html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;

}

.first_section {
    background-color: #1F2937;

}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.logo {
    padding-left: 150px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-right: 150px;
}

li, p {
    font-size: 18px;
    color: #E5E7EB;
}

.container_landing {
    padding-left: 150px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}

.msg_landing {
    flex-direction: column;
    display: flex;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.btn_one {
    padding: 5px;
    color: white;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    margin-right: 350px;
}


.img_landing {
    margin: 0 150px;
}

.front_img{
    margin: 22px 0;
    width: 450px;
    height: 250px;
}

.second_section {
    background-color: white;
    text-align: center;
    margin-bottom: 150px;
}

.title_pics {
    padding: 40px 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.container_pics {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pictures {
    width: 100px;
    height: 100px;
    border: 5px solid  #3882F6;
    border-radius: 20px;
    max-width: 200px;
}

.pic_text {
    color: gray;
    margin-top: 5px;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}


.third_section {
    background-color: lightgrey;
}

.quote {
    display: flex;
    padding: 0 350px;
    padding-top: 50px;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-right: 250px;
    padding-bottom: 50px;
}

.fourth_section {
    background-color: white;
    margin-top: 0;
    padding: 30px;
}

.card {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 250px;
    align-items: center;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}

.card_btn {
    padding-right: 50px;
}

.btn_two {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 10px;
    
}

footer {
    background-color: darkgoldenrod;
    display: flex;
    padding: 50px;
    justify-content: center;
}
